.showerMain {
    min-width: 100vw;
    min-height: 100vh;
    overflow-y: auto;
    transition: background-image 0.3s linear;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(85, 77, 77);
}

.showerMainFlou {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 0;
    min-width: 100vw;
    min-height: 100vh;
    backdrop-filter: blur(30px);
}

.slide-container {
    display: grid;
    padding: 80px 0;
    grid-template-rows: 1fr 80px 1fr;
    grid-template-columns: 80px 1fr 80px;
    gap: 0;
}

.slide-cursor-container {
    background-color: rgb(92, 92, 92);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-height: 40px;
    padding: 0 20px;
    display: grid;
    column-gap: 5px;
    grid-auto-columns: 1fr;
    grid-template-rows: 100%;
    grid-auto-flow: column dense;
    justify-content: center;
    align-items: center;
}

.image-container {
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 1fr;
}

.image-container>* {
    background-size: cover;
    transition: background 0.2s linear;
    background-repeat: no-repeat;
    background-position: center;
}

.current {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transform: scale(1.105);
    border-radius: 50px;
}

.current.no-photo {
    background-color: rgba(45, 46, 46, 0.74);
}

.current .message {
    background-color: rgba(45, 46, 46, 0.74);
    color: white;
    width: 100%;
    height: 10%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.control {
    grid-row: 2;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1000;
}

.control.right {
    transform: translateX(-150%);
}

.control.left {
    transform: translateX(150%);
}

.control .btn {
    background-color: rgba(31, 31, 31, 0.644);
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
